<%- include('bootstrap/header', { title: "Error"} ) %>
<div class="container py-5">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
<%- include('bootstrap/footer') %>